@inherits LayoutComponentBase
<header class="header">
    <MDStore.Components.AccessibleImage src="logo.png" altText="Music Discovery store logo"/>
</header>

<div class="page">    

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
