@page "/records"
@using MDStore.Components
@inject RecordService RecordService
@inherits FragmentNavigationBase

<PageTitle>MD Records</PageTitle>

<h1 id="mainContent">Top Redors Ever!</h1>


@if (records == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul class="recordsList list-group">
        @foreach (var record in records)
        {
            <li class="list-group-item">
                <a href="record/@record.Id">
                    <DecorativeImage class="albumImage" src="@BuildAlbumImagePath(record.AlbumImage)" />
                    <div class="albumInfo">
                        <div aria-label="Album name">
                            @record.Album
                        </div>
                        <div aria-label="Artist name">
                            @record.Artist
                        </div>
                        <div aria-label="Release date">
                            @record.ReleaseDate.ToShortDateString()
                        </div>
                    </div>
                </a>
            </li>
        }
    </ul>
}

@code {
    private AvailableRecord[]? records;

    private string BuildAlbumImagePath(string? imageName)
    {
        return "sample-data/images/" + imageName;
    }
    protected override async Task OnInitializedAsync()
    {
        records = await RecordService.GetRecords();
    }


}
