.recordsList {
    display: flex;
    list-style: none;
    justify-content: center;
    width: 100%;
}

.recordsList .list-group-item {
    border-width: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}