<form role="search" arial-label="Search for a record" class="searchBox">
    <label for="search-record" class="visually-hidden">Search record</label>
    <input type="search" id="search-record" name="search-record" @bind-value="searchText" spellcheck="false"
        placeholder="Search record">
    <button type="submit" class="btn btn-light">
        <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
        Search
    </button>
</form>

@code {
    private string searchText { get; set; } = "";
}