<a tabindex="0" href="@GetFragmentNavigation()" id="skipToMainContent">
    Skip to main content
</a>

@code {

    [Parameter, EditorRequired]
    public string mainContentId { get; set; } = "";

    private string GetFragmentNavigation()
    {
        return mainContentId;
    }
}